<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <application
        android:label="Snes9x"
        android:hasCode="true"
        android:allowBackup="false">

        <activity
            android:name=".EmulatorActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:launchMode="singleTask">

            <meta-data
                android:name="android.app.lib_name"
                android:value="snes9x" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.smc" />
                <data android:pathPattern=".*\\.sfc" />
                <data android:pathPattern=".*\\.fig" />
                <data android:pathPattern=".*\\.swc" />
            </intent-filter>
        </activity>
    </application>
</manifest>
